:root {
  --my-primary-color: #0d6efd;
}

body {
  background-color: #f2f4f4;
  font-size: 16px;
}

h2 {
  font-size: 1.5rem;
}

.collapse-group {
  padding: 0.5rem 0;
}

.title {
  font-weight: bold;
  font-size: 1.25rem;
  font-style: italic;
  color: var(--my-primary-color);
}

.no-site {
  color: gray;
}

a,
a:active,
a:focus,
a:hover,
a:visited {
  text-decoration: none;
  outline: none;
}

.expandable {
  color: #000;
}
.expandable:hover {
  color: #000;
  font-size: 1.25rem;
}
.expandable:hover .title {
  font-size: 1.5rem;
}

/* .expandable {
  transition: 0.3s transform ease-in-out;
} */
/* a.hover .expandable:hover .trail {
  transform: scale(1.1);
} */

a .fa-chevron-down {
  transition: 0.3s transform ease-in-out;
}

a[aria-expanded="false"] .fa-chevron-down {
  transform: rotate(-90deg);
}

#collapseTidBits li {
  margin: 10px auto;
  transition: none;
}

h3 {
  font-size: 1.25 rem;
  font-weight: bold;
}

.jumbotron {
  padding: 2rem 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  background-color: silver;
  border-radius: 0.3rem;
  font-size: 1.25rem;
}
.jumbotron h1 {
  padding-bottom: 0.5rem;
}

.awards {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.awards div {
  padding: 0.5rem;
}

header,
footer {
  display: flex;
  padding: 0.75rem;
  background: paleturquoise;
  justify-content: space-around;
}
footer .item {
  display: inline-block;
}
.label {
  padding-right: 0.5rem;
  font-weight: bold;
}

.collapse-group .info {
  background: #e6e1e1;
  opacity: 0.75;
  border: 1px solid black;
  border-radius: 0.5rem;
  font-style: italic;
  padding: 0.5rem 1rem;
  margin: 0.25rem;
}
