html {
  font-size: 16px;
}

body {
  font-size: 1rem;
}

h2 {
  font-size: 1.5rem;
}

a.title {
  font-weight: bold;
  font-size: 1.25rem;
  font-style: italic;
}

 h2.panel-title {
  font-size: 1.5rem;
}

.panel-body p:last-child {
  margin-bottom: 0;
}

.panel-group {
  margin: 1.5rem 0;
}

a,
a:active,
a:hover,
a:focus,
a:visited {
  text-decoration: none;
  outline: none;
}

a .fa-chevron-down {
  transition: .3s transform ease-in-out;
}

a[aria-expanded=false] .fa-chevron-down {
transform: rotate(-90deg);
}
